<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Fruit360 Classification App</title>
    <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
</head>
<body>
    <header class="header">
        Fruit360 Classification App
        
    </header>
    <p>This model is trained to predict the following types of fruit: <br>
        <b>apple_6, apple_braeburn_1, pear_3, cucumber_1</b> </p>

    <form action="/upload" method="post" enctype="multipart/form-data" class="form">
        <label class="label" for="file_input">Upload file</label>
        <input class="input" id="file_input" type="file" name="image" accept="image/*">
        <button class="upload-button" type="submit">Predict Image</button>
    </form>

    <div class="predicted">
        {% if predicted %}
        <p>The fruit is: {{ predicted }} </p>
        {% endif %}

        {% if image %}
        <img src="data:image/jpeg;base64,{{ image }}" width="300">
        {% endif %}


    
</div>
    <script>
        function updateButton() {
            const fileInput = document.getElementById('file_input');
            const submitButton = document.getElementById('submit_button');
            submitButton.disabled = !fileInput.value;
        }

        function validateForm() {
            const fileInput = document.getElementById('file_input');
            if (!fileInput.value) {
                alert("Please upload an image.");
                return false;
            }
            return true;
        }
    </script>
</body>
</html>